<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>356234028015-a8d6v4ocb9r1sjbu4ucnqu2mhns3gphq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356234028015-a8d6v4ocb9r1sjbu4ucnqu2mhns3gphq</string>
	<key>GCM_SENDER_ID</key>
	<string>356234028015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.epiphanyapps.ProductivitySuite-Example</string>
	<key>PROJECT_ID</key>
	<string>productivitysuite-b9bbd</string>
	<key>STORAGE_BUCKET</key>
	<string>productivitysuite-b9bbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:356234028015:ios:e1a7ce954c91ffec</string>
	<key>DATABASE_URL</key>
	<string>https://productivitysuite-b9bbd.firebaseio.com</string>
</dict>
</plist>